@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
#header-row {
  margin: 50px !important;
  height: 600px;
}

.user-panel {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#org-prof-btn {
  background-color: #EBDC49;
  color: rgb(73, 23, 119);
  border: solid;
  border-radius: 2rem;
}

.user-data-row {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .user-data-row {
    text-align: center;
  }
}





