.unfinished-course-row {
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  height: 33%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.unfinished-course-row:hover {
  background-color: rgb(240, 191, 245);
}

.scroll {
  width: 200px;
  height: 400px;
  overflow: auto;
}

.unfinished-course-container {
  background-color: rgb(246, 222, 248);
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(100, 41, 97);
  border-width: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
}

.unfinished-course-container::-webkit-scrollbar {
  width: 0;
}
